<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявки</title>
</head>
<body>
    <h1>Список заявок</h1>
    <table>
        <tr>
            <th>ФИО</th>
            <th>Почта</th>
            <th>Номер телефона</th>
            <th>Краткая информация</th>
        </tr>
        {% for application in applications %}
        <tr>
            <td>{{ application['teacher_name'] }}</td>
            <td>{{ application['mail'] }}</td>
            <td>{{ application['phone_number'] }}</td>
            <td>{{ application['shirt_info'] }}</td>
            <td>
                <form action="/approve/{{ application['id'] }}" method="post">
                    <button type="submit">Одобрить</button>
                </form>
                <form action="/reject/{{ application['id'] }}" method="post">
                    <button type="submit">Отклонить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
